// font Montserrat 300,400,500,600,700,800,900 // 

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

// blocks

@import "./blocks/wrapper-btn.scss";
@import "./blocks/buttons.scss";
@import "./blocks/modal.scss";

// normalizer 
@import "./normalizer.scss";

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
}

.container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}



// responsive

@media (max-width:800px) {

    .modal-new__inner__form__select {
        font-size: 14px;
        width: 100%;
        max-width: 500px;
    }

    .modal-new__inner__form__input {
        font-size: 14px;
        width: 100%;
        max-width: 500px;

    }


    .modal-new__inner__form__label {
        max-width: 200px;
        width: 100%;
    }

}

@media (max-width:550px) {
    .modal-new {
        width: 400px;
        padding: 25px 15px;
        overflow: scroll;
    }

    .modal-new__inner__form {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        width: 100%;
        align-items: center;
    }

    .modal-new__inner__form__select {
        font-size: 12px;
        width: 100%;
        max-width: 333px;
        height: 30px;
    }

    .modal-new__inner__form__input {
        font-size: 12px;
        width: 100%;
        max-width: 303px;
        height: 30px;

    }

    .modal-new__inner__form__label {
        max-width: 334px;
        width: 100%;
        font-size: 12px;
    }

    .textarea {
        width: 100%;
        max-width: 300px;
    }


    .textarea-form {
        display: flex;
        justify-content: center;
    }

    .modal-new__button-close {
        top: 0px;
        right: -5px;

        img {
            width: 25px;
        }
    }

    .button {
        font-size: 12px;
    }

    .send-button {
        width: 83%;
        margin-bottom: 25px;

    }

    .wrapper-btn {
        height: 100vh;
    }

    .wrapper-btn__innner__wrapper {
        flex-direction: column;
        row-gap: 20px;
    }
}

@media (max-width:460px) {
    .modal {
        padding: 0;
    }

    .modal-new {
        width: 340px;
        padding: 25px 15px;
        overflow: scroll;
    }

    .modal-new__button-close {
        right: 6px;

        img {
            width: 20px;
        }
    }

    .textarea {
        height: 100px;
    }
}